{% if site.navbar %}
<div class="related-wrapper">
  <div class="related" role="navigation" aria-label="related navigation">
  <ul>
  {% for item in site.navbar %}
  <li>
    {% if item.link %}
    <a href="{{ item.link }}">{{ item.name }}</a> &nbsp;&nbsp;
    {% endif %}
    {% if item.subitems[0] %}
	<div class="related-menu-wrapper">
	<div class="related-menu" role="navigation" aria-label="related navigation">
    <ul>
    {% for subitem in item.subitems %}
    {% if subitem.link %}
    <li style="width: 100%; text-align: center;"><a href="{{ subitem.link }}">{{ subitem.name }}</a></li>
    {% endif %}
    {% endfor %}
    </ul>
	</div>
	</div>
    {% endif %}
  </li>
  {% endfor %}
  </ul>
  </div>
</div>
{% endif %}
