div.related h3 {
    display: none;
}

div.related ul {
    height: 2em;
    list-style: none;
    border-top: 1px solid #ddd;
    border-bottom: 2px solid #727272;
    margin: 0;
    padding-left: 10px;
	z-index: -1;
}

div.related ul li {
    margin: 0;
    padding: 0;
    height: 2em;
    float: left;
	z-index: -1;
}


div.related ul li.right {
    display: none;
}

div.related ul li#navbar-ecosystem {
    float: right;
    margin-right: 0.5em;
}

@media (max-width: 800px) {
    div.related ul li#navbar-ecosystem {
	display: none;
    }
}

@media (min-width: 800px) {
    div.related ul li#navbar-about {
        display: none;
    }
}

@media (max-width: 569px) and (orientation: portrait){
    div.related ul {
        padding-bottom: 2em;
    }
}

@media (max-width: 312px) and (orientation: portrait){
    div.related ul {
        padding-bottom: 4em;
    }
}

@media (max-width: 569px) and (orientation: landscape){
    div.related ul {
        padding-bottom: 2em;
    }
}

@media (max-width: 312px) and (orientation: landscape){
    div.related ul {
        padding-bottom: 4em;
    }
}

div.related-wrapper {
    background-color: #e8eef0;
    /*background-image: linear-gradient(160deg, #e8eef0, #97c6d2);*/
    background-image: linear-gradient(30deg, #e8eef0, #97c6d2);
    /* Center child horizontally*/
    display: flex;
    justify-content: center;
	z-index: -1;
}

div.related ul li a {
    margin: 0;
    padding: 0 1px 0 1px;
    line-height: 1.75em;
    color: #355F7C;
	z-index: -1;
}

div.related ul li a:hover {
    color: #3CA8E7;
}

div.related-menu ul {
    height: 3.2em;
    list-style: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #727272;
    margin: 0;
    padding-left: 2px;
    display: none;
/*    background-color: #e8eef0;*/
    background-color: rgba(232, 238, 240, 1);
    background-image: linear-gradient(30deg, #e8eef0, #97c6d2);
	z-index: -1;
}

div.related-menu ul li {
    margin: 0;
    padding: 0;
    height: 1.6em;
    float: none;
    display: none;
	opacity: 1;
	z-index: 1;
}

div.related-menu ul li.right {
    display: none;
}

div.related-menu ul li#navbar-ecosystem {
    float: right;
    margin-right: 0.6em;
}

@media (max-width: 800px) {
    div.related-menu ul li#navbar-ecosystem {
	display: none;
    }
}

@media (min-width: 800px) {
    div.related-menu ul li#navbar-about {
        display: none;
    }
}

@media (max-width: 569px) and (orientation: portrait){
    div.related-menu ul {
        padding-bottom: 1em;
    }
}

@media (max-width: 312px) and (orientation: portrait){
    div.related-menu ul {
        padding-bottom: 2em;
    }
}

@media (max-width: 569px) and (orientation: landscape){
    div.related-menu ul {
        padding-bottom: 1em;
    }
}

@media (max-width: 312px) and (orientation: landscape){
    div.related-menu ul {
        padding-bottom: 2em;
    }
}

div.related-menu ul li a {
    margin: 0;
    padding: 0 1px 0 1px;
    line-height: 0.8em;
    color: #355F7C;
	z-index: 1;
}

div.related-menu ul li a:hover {
    color: #3CA8E7;
}

div.related-menu-wrapper {
    /* background-color: #e8eef0; */
    /*background-image: linear-gradient(160deg, #e8eef0, #97c6d2);*/
    /* background-image: linear-gradient(30deg, #e8eef0, #97c6d2); */
	background: transparent;
    /* Center child horizontally*/
    display: flex;
    justify-content: center;
	z-index: 1;
}

div.related-menu:hover ul {
  display: block;
}

div.related-menu:hover ul li {
  display: block;
}

div.related-menu>ul:hover li {
  display: block;
}

div.related-menu>ul>li:hover {
  display: block;
}
